extends template
block content
    div
        p Hello user
        | welcome to our team
        | to confirm your account
        br
        div
            a(href= FRONTURL + `/` + token) click here
